<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Select Seats</h4>
  </div>
  <div class="offcanvas-body">
    <div class="seat-selection">
      <div class="mode-selection mt-3">
        <label class="form-label">Select Mode:</label>
        <div class="form-check">
          <input
            id="autoMode"
            type="radio"
            name="mode"
            value="auto"
            [checked]="mode === 'auto'"
            (change)="onModeChange($event)"
            class="form-check-input"
          />
          <label for="autoMode" class="form-check-label"> Auto </label>
        </div>
        <div class="form-check">
          <input
            id="manualMode"
            type="radio"
            name="mode"
            value="manual"
            [checked]="mode === 'manual'"
            (change)="onModeChange($event)"
            class="form-check-input"
          />
          <label for="manualMode" class="form-check-label"> Manual </label>
        </div>
        <label *ngIf="mode === 'auto'" for="seatSelect" class="form-label"
          >Select Number of Seats:</label
        >
        <select
          *ngIf="mode === 'auto'"
          id="seatSelect"
          class="form-select"
          (change)="onSeatNumberChange($event)"
        >
          <option *ngFor="let seat of [1, 2, 3, 4, 5, 6, 7]" [value]="seat">
            {{ seat }} Seat{{ seat > 1 ? "s" : "" }}
          </option>
        </select>
      </div>
    </div>

    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="offcanvas.close('Close click')"
      >
        Continue
      </button>
    </div>
  </div>
</ng-template>
