.offcanvas-header {
  border-bottom: 1px solid #333;
  padding: 1em;
  background-color: #24272b;
}

.offcanvas-title {
  font-size: 1.5rem;
  color: #ecf0f1;
}

.offcanvas-body {
  padding: 1em;
  background-color: #1c1e22;
}

.form-label, .form-check-label {
  color: #ecf0f1;
}

.form-select {
  background-color: #2b2f36;
  border: 1px solid #4a90e2;
  color: #ecf0f1;
}

.btn-outline-secondary, .btn-outline-info {
  margin-top: 0.5em;
  border-color: #4a90e2;
  color: #4a90e2;
}

.btn-outline-secondary:hover, .btn-outline-info:hover {
  background-color: #4a90e2;
  color: #fff;
}
